.personalProfile {
        transition: 1.2s;
        background: #41525b;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        width: fit-content;
        
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;

h6{
    align-self: start;
    margin-left: 20px;
    font-weight: bold;
    color: #A1FF69;
}
.ubication-title{
    margin-left: 50px;
}

    .card {
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;


        .invisible-file-picker {
            display: none;
        }

        .profileImageCont {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .ubication-card-cont{
        display: flex;
        flex-direction: column;
        padding: 50px;
    }


    h2 {
        color: #BEBCC1;
    }

    .invisible-file-picker {
        display: none;
    }


    .matriz-div{
        display: flex;
    flex-direction: row;
    align-items: baseline;

        p{
            width: 100%;
        }
    }

    input {
        padding: 15px;
        margin-bottom: 8px;
        border-style: none;
        background-color: #bddfbd;
        color: #1C313E;
        border-radius: 10px;
        width: 100%;
        color-scheme: none;
    }

    .submit {
        background-color: #1C313E;
        color: #A1FF69;
        font-weight: 600;
    }

    .submit:hover {
        cursor: pointer;
        background-color: #A1FF69;
        color: #1C313E;
    }

    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #5b7381;
    }

    input:focus {
        outline: none;
    }
    .delete-direccion-btn{
        padding: 15px;
        margin-bottom: 8px;
        border-style: none;
        background-color: rgb(255, 70, 70);
        color: white;
        border-radius: 10px;
        border: 1px solid rgb(255, 70, 70);
        font-weight: bold;
    }
    .delete-direccion-btn:hover{
        background-color: transparent;
        border: 1px solid rgb(255, 70, 70);
        color: rgb(255, 70, 70);
        cursor: pointer;
    }

}

@keyframes fade-in {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.profilePhoto {
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #a1ff6957;
    border-style: none;
    //width: 50%;
    max-width: 300px;
    margin: 15px;

    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}



.profilePhoto:hover {
   max-width: 300px;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    cursor: pointer;
}
.personalProfile:hover {
  
    transition: 1.2s;
    background-color: #33566e;
    border-radius: 30px;

}
.p-tabview-nav-content{
	background: #1E1E1E;
}

@media (max-width: 700px) {
    .personalProfile{
        width: auto;
        .card{
            flex-direction: column;
        }
        .profilePhoto{
            width: 80%;
        }
        
    }
    
}