.todo_main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_main {
  --_hue: 105;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);


  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 50% 50%;
  --accent1--dark: 10 55% 50%;
  --muted--dark: var(--_hue) 20% 4%;
}

@media (prefers-color-scheme: dark) {
    .todo_main {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}



@media screen and (max-width: 768px) {
    .todo_main {
    --_size: 1.3rem;
  }
}

/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
    .todo_main {
    --_tspeed_slow: 50ms;
    --_tspeed_fast: 50ms;
  }
}




.todo_main_container {
  display: grid;
  gap: clamp(2rem, 3.5vmax, 8rem);
  text-align: center;
  justify-items: center;
}

hr {
  border: 0;
  height: 0.4em;
  background-color: hsl(var(--accent) / 0.5);
  border-radius: var(--_radius);
}

.todo_btn {
  max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--accent));
  color: hsl(var(--bg));
  text-decoration: none;
  padding: 0.5em;
  border-radius: var(--_radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
}

.todo_btn :where(svg, img, span) {
  pointer-events: none;
}

.todo_btn :where(svg, img) {
  width: var(--_size);
  height: var(--_size);
}

.todo_btn:where(:active, :hover) {
  background-color: hsl(var(--accent) / 0.7);
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)),
    0 0 0 -0.2em hsl(var(--accent));
}

.todo_btn:focus {
  outline: none;
}

.todo_btn:focus-visible {
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 0.2em hsl(var(--bg)),
    0 0 0 0.4em hsl(var(--accent) / 0.7);
}

.todo_todo {
  display: flex;
  gap: 0.5em;
  font-size: var(--_size);
  text-align: left;
}

.todo_wrapper {
  flex: 1 1 100%;
  position: relative;
  display: grid;
  gap: 0.2em;
}

.todo_label {
  text-transform: uppercase;
  font-size: 0.7em;
  pointer-events: none;
  letter-spacing: 0.05em;
  margin-inline: 0.45em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1em 0.35em;
  background-color: hsl(var(--muted));
  transition: transform var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
}

.todo_input {
  border: none;
  border-radius: var(--_radius);
  padding: 0.35em 0.55em;
  width: 100%;
  background-color: hsl(var(--muted));
  caret-color: hsl(var(--accent));
  box-shadow: 0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent) / 0.8);
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish);
}

.todo_input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg)), 0 0 0 0.4em hsl(var(--accent) / 0.8);
}

.todo_input:focus~.todo_label,
.todo_input:not(:placeholder-shown)~.todo_label {
  transform: translate3d(0, -3em, 0);
  background-color: hsl(var(--bg));
  color: hsl(var(--accent) / 0.8);
}

.todo_input::placeholder {
  opacity: 0;
}

.todo_main{

[role="dialog"] {
  position: absolute;
  top: 10px;
  width: 90%;
  min-height: 100vh;
  z-index: 1;
  padding-inline: 2vmax;
  display: grid;
  place-items: center;
  background-color: hsl(var(--bg) / 0.8);
}



  [role="dialog"] .todo_todo {
    max-width: 300px;
    padding: 2em 1.3em 1.3em;
    background-color: hsl(var(--bg));
    border-radius: var(--_radius);
    border: 0.1em solid hsl(var(--accent) / 0.3);
    box-shadow: 0 -10em 10em hsl(var(--muted)), 0 1em 3em hsl(var(--accent) / 0.2);
  }
  i{
    font-size: 24px;
  }
}