.modal__main__container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0px;
    z-index: 1;
    height: 100%;
    backdrop-filter: blur(6px);

    
}
.modal__main__container__close{
    display: none;
}

.modal__main{
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: var(--third-color);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 15px 45px;
    height: 360px;
    border-radius: 10px;

    @media (max-width:1200px) {
        text-align: center;
        height: 350px;  
    }
    
        @media (max-width:700px) {
            width: 80%;
            height: 450px;  
        }

}

.notification {
    
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    
}
.notification__body {
    display: flex;
    width: 100%;
    flex: 1;

    @media (max-width:1000px) {
        flex-direction: column;
    }
}

.notification__img{
    border-radius: 10px;

    width: 50%;
    height: 100%;
    @media (max-width:1000px) {
        width: 100%;
        height: 50%;
    }
    img{
        border-radius: 10px 0 0 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.notification__main{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @media (max-width:1000px) {
        overflow-y: scroll;
        width: 100%;
        height: 50%;
        gap: .8em;
    }
    @media (min-width:1000px) {
        justify-content: space-evenly;
    }
    h2{
        font-size: 1.7rem;
    }
    p{
        line-height: 30px;
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        color: var(--body-bg);
        background-color: var(--primary-color);
        padding: .7rem 1.2rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 10px;
        transition: .2s ease-in; 
        border: 1px solid var(--primary-color);

        &:hover{
            border: 1px solid var(--primary-color);
            background-color: transparent;
            color: var(--primary-color);
        }
    
    
    }
}

.notification__close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;

}



.close__modal{
    display: none;
}