table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  .container-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }
.choose-phone-cont{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 10px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.input-search-result-cont{

    .searchResults-cont{
        position: absolute;
        padding: 5px;
        z-index: 5000;
        top: 224px;
        background-color: #1C313E; 
        border-radius: 5px;
        
        .search-result-item{
            margin: 5px;
            margin-right: 5px;
        }
        .search-result-item:hover{
            cursor: pointer;
            background-color: #375a70;
        }
       
    }

}
